body {
  font-family: "Montserrat", sans-serif;
  background: #f5f5f5;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: 85px 0;
  background-size: 790px 697px;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  border: 1px solid rgba(81, 80, 118, 1);
  padding: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.card-category {
font-weight: 400;
font-size: 12px;
line-height: 24px;
text-transform: uppercase;
}

.card-title {
font-weight: 700;
font-size: 20px;
line-height: 27px;
}

.card-description {
font-weight: 400;
font-size: 13px;
line-height: 18px;
letter-spacing: 0;
}

.card-composition-title {
font-weight: 400;
font-size: 13px;
line-height: 18px;
}

.card-price-label {
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.card-price {
font-weight: 400;
font-size: 20px;
line-height: 24px;
}

.card-category,
.card-title,
.card-description,
.card-composition-title,
.card-price-label,
.card-price {
  margin: 0;
}

.card-price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin-top: auto;
}